/* Now use the display: flex,
and flex-direction: column CSS properties to change your form to look like this. */

body {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    background-color: #8bbedd;
    display: flex;
    flex-direction: column;
    width: 25em;
    
}
.button {
    background-color: lightpink;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* width: 15em; */
  }

  .row {
      display:flex;
  }

  .column2 {
      display: flex;
      margin: 2em;
      padding: 1em;
      border: 4px, double, lightpink;
      width: 20em;
  }